# Python virtual environment
venv/
ENV/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/